<div class="confiturre-sidebox">
    <h3 class="confiturre-sidebox-lead">Compositions</h3>
    <ul class="confiturre-post">
        <li>
            <a href="@Url.Action("Portfolio", "Home", new { name = "MokkoCake"})">
                <div class="confiturre-post-media"><img src="~/images/about_1.jpg"></div>
                <div class="confiturre-post-blurb">
                    Mokko Cake: A new, delicious mousse cake.
                    <span class="confiturre-post-meta">Aug. 24, 2018</span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Portfolio", "Home", new { name = "Strudel"})">
                <div class="confiturre-post-media"><img src="~/images/about_2.jpg"></div>
                <div class="confiturre-post-blurb">
                    Strudel is one of those desserts that is almost impossible to spoil.
                    <span class="confiturre-post-meta">Aug. 31, 2018</span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Portfolio", "Home", new { name = "AppleEcstasyCake"})">
                <div class="confiturre-post-media"><img src="~/images/about_3.jpg"></div>
                <div class="confiturre-post-blurb">
                    Apple ecstasy tart is a truly ecstasy for all lovers of baked apples.
                    <span class="confiturre-post-meta">Aug. 1, 2018</span>
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Portfolio", "Home", new { name = "HoneyCake"})">
                <div class="confiturre-post-media"><img src="~/images/about_4.jpg"></div>
                <div class="confiturre-post-blurb">
                    Honey cake: Simple and delicious.
                    <span class="confiturre-post-meta">Jul. 25, 2018</span>
                </div>
            </a>
        </li>
    </ul>

</div>
