<div class="confiturre-slider">
    <div class="owl-carousel owl-carousel-fullwidth">
        <div class="item" style="background-image:url(images/slide_1.jpg)">
            <div class="confiturre-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="confiturre-owl-text-wrap">
                            <div class="confiturre-owl-text text-center to-animate">
                                <h1 class="confiturre-lead">Confiturre</h1>
                                <h2 class="confiturre-sub-lead">
                                    <b>
                                        Confiturre is not just a passion, it is a style of life.
                                    </b>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(images/slide_2.jpg)">
            <div class="confiturre-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="confiturre-owl-text-wrap">
                            <div class="confiturre-owl-text text-center to-animate">
                                <h2 class="confiturre-sub-lead">Every composition is unique and priceless.</h2>
                                <hr />
                                <h1 class="confiturre-lead">Making pastry with a love</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(images/slide_3.jpg)">
            <div class="confiturre-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="confiturre-owl-text-wrap">
                            <div class="confiturre-owl-text text-center to-animate">
                                <h1 class="confiturre-lead">Quality as an essential</h1>
                                <h2 class="confiturre-sub-lead">
                                    <b>
                                        The most indespensible ingredient of all good home cooking: love for those you are cooking for.
                                    </b>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(images/slide_4.jpg)">
            <div class="confiturre-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="confiturre-owl-text-wrap">
                            <div class="confiturre-owl-text text-center to-animate">
                                <h2 class="confiturre-sub-lead">People who love to eat are always the best people.</h2>
                                <hr />
                                <h1 class="confiturre-lead">Creativity like a second name</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="confiturre-main">
    <div id="confiturre-features">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="confiturre-section-lead">Key Features</h2>
                    <h3 class="confiturre-section-sub-lead">
                        The confectionery industry is not a science-based industry: it is an industry that has been built on the confectioner's craft. Confectionery is normally divided into three classes: flour confectionery, chocolate confectionery, and sugar confectionery.
                    </h3>
                </div>
                <div class="confiturre-spacer confiturre-spacer-md"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 confiturre-feature-border">
                    <div class="confiturre-feature">
                        <div class="confiturre-feature-icon to-animate">
                            <i class="icon-bag"></i>
                        </div>
                        <div class="confiturre-feature-text">
                            <h3>Creative packaging</h3>
                            <p>One of my passions is making amazing boxes for my cookies.</p>
                        </div>
                    </div>
                    <div class="confiturre-feature no-border">
                        <div class="confiturre-feature-icon to-animate">
                            <i class="icon-head"></i>
                        </div>
                        <div class="confiturre-feature-text">
                            <h3>Customer Satisfaction</h3>
                            <p>My own preferability is a customer happiness who is eating the confectionery what has been made with a love.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="confiturre-feature">
                        <div class="confiturre-feature-icon to-animate">
                            <i class="icon-heart2"></i>
                        </div>
                        <div class="confiturre-feature-text">
                            <h3>Positive comments</h3>
                            <p>Check it out in my socials and media resources.</p>
                        </div>
                    </div>
                    <div class="confiturre-feature no-border">
                        <div class="confiturre-feature-icon to-animate">
                            <i class="icon-clock2"></i>
                        </div>
                        <div class="confiturre-feature-text">
                            <h3>24/7 Support</h3>
                            <p>I'm ready to help you with a choice even if you post me at night. Just chat me and we will get a decision.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="confiturre-spacer confiturre-spacer-lg"></div>
    <div class="container" id="confiturre-products">
        <div class="row text-left">
            <div class="col-md-8">
                <h2 class="confiturre-section-lead">Products</h2>
                <h3 class="confiturre-section-sub-lead"></h3>
            </div>
            <div class="confiturre-spacer confiturre-spacer-md"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 confiturre-mb30">
                <div class="confiturre-product">
                    <img src="~/images/about_1.jpg" alt="" class="img-responsive img-rounded to-animate">
                    <h4>Mokko cake</h4>
                    <p>A new, delicious mousse cake. 4 types of mousse, chocolate ganache, brownies and peanuts. What could be better?❤️</p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 confiturre-mb30">
                <div class="confiturre-product">
                    <img src="~/images/about_2.jpg" alt="" class="img-responsive img-rounded to-animate">
                    <h4>Strudel</h4>
                    <p>Strudel is one of those desserts that is almost impossible to spoil🍎. It always turns out juicy, aromatic and spicy, especially if you sprinkle apples with lemon juice🍋 and add nuts🌰 and cinnamon✨ to the filling.</p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>
            <div class="visible-sm-block visible-xs-block clearfix"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 confiturre-mb30">
                <div class="confiturre-product">
                    <img src="~/images/about_3.jpg" alt="" class="img-responsive img-rounded to-animate">
                    <h4>Apple ecstasy tart</h4>
                    <p>
                        This is truly ecstasy for all lovers of baked apples, and not only 🍏
                        <br />
                        By trial and error, I was looking for the perfect shortbread dough for tarts and various tartlets. And finally, I found the most perfect shortcrust pastry🔥💕
                    </p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 confiturre-mb30">
                <div class="confiturre-product">
                    <img src="~/images/about_4.jpg" alt="" class="img-responsive img-rounded to-animate">
                    <h4>Caramel honey cake</h4>
                    <p>
                        Soaked layers, already insanely soft, with caramel sauce, which are a kind of flavor enhancer. 🍯 Original serving, vertical cakes... Here's a seemingly simple cake, but in the context it looks very impressive! 
                        <hr />
                        PS: Well, I’m silent about the taste 👀
                    </p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="confiturre-spacer confiturre-spacer-lg"></div>
    <div id="confiturre-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12 confiturre-client-logo text-center to-animate"><img src="~/images/Facebook.png" alt="FREEHTML5.co Free HTML5 Bootstrap Template" class="img-responsive" style="width: 100%"></div>
                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 confiturre-client-logo text-center to-animate"><img src="~/images/Instagram.png" alt="FREEHTML5.co Free HTML5 Bootstrap Template" class="img-responsive" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <div class="confiturre-bg-section" style="background-image: url(images/slide_1.jpg); background-attachment: fixed;">
        <div class="confiturre-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="confiturre-hero-wrap">
                        <div class="confiturre-hero-intro text-center">
                            <h1 class="confiturre-lead">
                                <span class="quo">&ldquo;</span>
                                <span class="text-primary">Cooking is an expression that crosses boundaries</span>
                                <span class="quo">&rdquo;</span>
                            </h1>
                            <p class="author">&mdash; <cite>Ranveer Brar</cite></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>